
.container {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
}

.container-content{
  max-width: 80%;
  margin: auto;
  margin-top: 45px;
}

.container-table{
  background-color: #FFFFFF;
  padding: 5px 20px 71px 20px;

}

