@import '~@fortawesome/fontawesome-free/css/all.css';

.scrollbar-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.scrollbar-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

.scrollbar-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #6E6D72;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.data-table {
  width: 100%;
  margin-top: 20px;
}

.data-table th i.fas {
  color: #4B4F52;
  font-size: 16px;
  margin-right: 5px;
}
.data-table th {
  background-color: #F8FCFF;
  color: #4B4F52;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.data-table td {
  color: #7A7A7A;
}



.product-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.options-column {
  position: relative;
}

.options-menu {
  position: relative;
  display: flex;
  flex-direction: column;
}

.options-button {
  transform: rotate(90deg);
  background: none;
  border: none;
  color: #7A7A7A;
  font-size: 20px;
  cursor: pointer;
}

.options-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.options-menu:hover .options-dropdown {
  display: block;
}

.edit-button,
.delete-button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #f1f1f1;
}
.table-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #7A7A7A;
  margin-top: 20px;
  padding-left: 4px;
}

.total-results {
  order: 1;
}

.records-per-page {
  order: 2;
}

.class-select {
  padding: 5px 13px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


