<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id" class="label" [class.disabled]="flag">ID</label>
        <input type="text" class="form-control" id="id" formControlName="id" placeholder="ID"
          [class.error-input]="form.get('id')?.invalid && form.get('id')?.touched" (blur)="onBlurProductId()"
          [class.disabled]="flag" />
        <div class="error-message" *ngIf="form.get('id')?.invalid && form.get('id')?.touched">
          {{ getErrorMessage('id') }}
        </div>
        <div class="error-message" *ngIf="idExistsError">Este ID ya existe.</div>
      </div>
      <div class="form-group col-md-6">
        <label for="name" class="label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre"
          [class.error-input]="form.get('name')?.invalid && form.get('name')?.touched">
        <div class="error-message" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          {{ getErrorMessage('name') }}
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="description" class="label">Descripción</label>
        <input type="text" class="form-control" id="description" formControlName="description"
          [class.error-input]="form.get('description')?.invalid && form.get('description')?.touched"
          placeholder="Descripción">
        <div class="error-message" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
          {{ getErrorMessage('description') }}
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="logo" class="label">Logo</label>
        <input type="text" class="form-control" id="logo" formControlName="logo"
          [class.error-input]="form.get('logo')?.invalid && form.get('logo')?.touched">
        <div class="error-message" *ngIf="form.get('logo')?.invalid && form.get('logo')?.touched">
          {{ getErrorMessage('logo') }}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="date_release" class="label">Fecha de Liberación</label>
        <input [min]="todayDate" (change)="onDateReleaseChange()" type="date" class="form-control" id="date_release"
          formControlName="date_release">
      </div>
      <div class="form-group col-md-6">
        <label [class.disabled]="true" for="date_revision" class="label">Fecha de Revisión</label>
        <input [class.disabled]="true" type="date" class="form-control" id="date_revision" formControlName="date_revision"
        [class.error-input]="form.get('date_revision')?.invalid && form.get('date_revision')?.touched">
        <div class="error-message" *ngIf="form.get('date_revision')?.invalid && form.get('date_revision')?.touched">
          {{ getErrorMessage('date_revision') }}
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button (click)="resetForm()" type="button" class="btn-global btn-reiniciar">Reiniciar</button>
      <button (click)="onSubmit()" [disabled]="form.invalid" type="submit" class="btn-global btn-enviar">Enviar</button>
    </div>
  </form>

</div>
