.container-form{
  padding: 17px 72px 68px 72px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.form-group {
  flex: 1;
  margin: 4px 10px 35px 10px
}

.form-group:last-child {
  margin-right: 0;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.space-buttom{
  padding: 0px 34px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.error-input {
  border-color: red;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
  background-color: #F5F5F5;
}
