<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id" class="label">ID</label>
        <input type="text" class="form-control" id="id" formControlName="id" placeholder="ID"
        [class.error-input]="form.get('id')?.invalid && form.get('id')?.touched">
        <div class="error-message" *ngIf="form.get('id')?.invalid && form.get('id')?.touched">
          ID inválido
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="name" class="label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre"
        [class.error-input]="form.get('name')?.invalid && form.get('name')?.touched">
        <div class="error-message" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          Este campo es requerido
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="description" class="label">Descripción</label>
        <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descripción"
        [class.error-input]="form.get('description')?.invalid && form.get('description')?.touched">
        <div class="error-message" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
          Este campo es requerido
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="logo" class="label">Logo</label>
        <input type="file" class="form-control" id="logo" formControlName="logo"
        [class.error-input]="form.get('logo')?.invalid && form.get('logo')?.touched">
        <div class="error-message" *ngIf="form.get('logo')?.invalid && form.get('logo')?.touched">
          Este campo es requerido
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="date_release" class="label">Fecha de Liberación</label>
        <input type="date" class="form-control" id="date_release" formControlName="date_release">
      </div>
      <div class="form-group col-md-6">
        <label for="date_revision" class="label">Fecha de Revisión</label>
        <input type="date" class="form-control" id="date_revision" formControlName="date_revision">
      </div>
    </div>
    <div class="btn-group">
      <button type="submit" class="btn-global btn-reiniciar">Reiniciar</button>
      <button type="submit" class="btn-global btn-enviar">Enviar</button>
    </div>
  </form>

</div>
