.container {
  width: 100%;
  background-color: #F2F6F9;
  margin-top: 70px;
  padding: 20px;
  height: 100vh;
}

.container-content{
  background-color: #FFFFFF;
  max-width: 50%;
  margin: auto;
  margin-top: 45px;
}

.title{
  text-align: center;
  padding: 1px;
}
